<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spring Security 6 + Thymeleaf Demo</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <style>
        .form-group {
            margin-bottom: 20px;
        }

        .btn-primary {
            width: 100%;
        }

        .alert {
            margin-bottom: 20px;
        }
    </style>
</head>
<body>

<!-- Navigation bar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" th:href="@{/}">Registration and Login with Spring Boot 3 + Spring Security
                6 + Thymeleaf</a>
        </div>
    </div>
</nav>
<br>
<br>
<br>
<!-- Registration form -->
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">

            <!-- Success message -->
            <div th:if="${param.success}" class="alert alert-info">
                You've successfully registered to our app!
            </div>

            <!-- Error message -->
            <div th:if="${param.email_invalid}" class="alert alert-danger">
                Email is already registered!
            </div>

            <h1>Registration</h1>

            <form th:action="@{/registration}" method="post" th:object="${user}">
                <div class="form-group">
                    <label for="firstName">First Name</label>
                    <input id="firstName" class="form-control" th:field="*{firstName}" required autofocus/>
                </div>

                <div class="form-group">
                    <label for="lastName">Last Name</label>
                    <input id="lastName" class="form-control" th:field="*{lastName}" required autofocus/>
                </div>

                <div class="form-group">
                    <label for="email">Email</label>
                    <input id="email" class="form-control" type="email" th:field="*{email}" required autofocus/>
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    <input id="password" class="form-control" type="password" th:field="*{password}" required/>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Register</button>
                    <span>Already registered? <a href="/" th:href="@{/login}">Login here</a></span>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>
</html>
